td {
	text-align: left;
	font-family:tahoma;
	font-size:11px;
	color:#352A1D;
	line-height:13px;
}
a {	text-decoration: none;
	color:#EDCC84;}

body { 	margin:0px;padding:0px; background-color:#000000; background-image:url(images/bg.jpg); background-position:top; background-repeat:repeat-x}

.copy{
font-family:tahoma;
font-size:10px;
color:#D8C892;
}


.cont {color:#352A1D; text-decoration:none}
.light {color:#EDCC84; text-decoration:none}
.cont_l {color:#493B1D;
		 text-decoration:none; 
		 overflow-y: auto;
		 overflow-x: hidden;
		 scrollbar-arrow-color:#EDCC84;
		 scrollbar-face-color:#A48D64;
		 scrollbar-3dlight-color:#493B1D;
		 scrollbar-highlight-color:#493B1D;
		 scrollbar-shadow-color:#493B1D;
		 scrollbar-track-color:#D8C892;
		 scrollbar-base-color:#493B1D
		 }

.sm {font-size:10px}
.u {text-decoration:underline}
.t {text-transform:uppercase}
.big {font-size:11px}

.form { width:178px;
		height:21px;
		font-family:tahoma;
		font-size:12px;
		border-style:solid;
		border-width:1px;
		border-color:#A48D64;
		background-color:#8C7A68;
		color:#E0C07D;
		margin-left:0px;
		margin-right:0px}
		
.textarea { width:268px;
		height:128px;
		font-family:tahoma;
		font-size:12px;
		border-style:solid;
		border-width:1px;
		border-color:#A48D64;
		background-color:#8C7A68;
		color:#E0C07D;
		overflow:hidden;
		margin-left:0px;
		margin-right:0px}

.rollover {scrollbar-face-color:#4A483E;
		scrollbar-track-color:#FAF4D3;
		scrollbar-arrow-color:#FAF4D3;
		scrollbar-3Dlight-color:#FAF4D3;
		scrollbar-base-color:#FAF4D3;
		scrollbar-shadow-color:#FAF4D3;
		scrollbar-darkshadow-color:#FAF4D3;
		scrollbar-highlight-color:#FAF4D3;
		}


a:hover{text-decoration:underline;}
#a:hover{text-decoration:none;}

#a1:hover {color:#91B230; font-weight:bold; text-decoration:none}




